html {
  font-family: Merriweather, serif;
}

td,
th {
  border: 1px #ccc solid;
}

tbody td {
  height: 11em;
}

.event {
  background-color: #f2f2f2;
  border: solid 1px #666;
  border-radius: 8px;
  color: #333;
}

.remember {
  border-color: #b92828 #991919;
  background-color: #f2bcbc;
}

.island {
  border-color: #6b7e54;
  background-color: #d1e0bf;
}

.islandlike {
  border-color: #51603f;
  background-color: #d1e0bf;
}

.purp {
  border-color: #1d38da;
  background-color: #d2d6f0;
}

.purpy {
  background-color: #d2d6f0;
  border-color: #38448e;
}
